img{
    width: 100%;
}

/* Layout */
.header_container{
    display: inline-block;
    justify-content: center;
}
.header_title{
    width: 8%;
}
.header_hero{
    width: 31.2%;
}
.body-section{
    padding:10px ;
    width: 30%;
    text-align: center;
    color: white;
    background-color: #253645;
}
button{
    
   color: white;
   background-color: #e24f30; 
   width: 30%;
   padding: 15px;
   border-radius: 5px;
   border-style: none;
}
.footer-text{
    font-size: 14px;
}
.footer_container{
    width: 40%;
    padding: 5px;
    background-color:#dcdcdc ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.footer_images{
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  
}